<tr>
  <td><%= link_to hacker.name, admin_view_user_path(hacker.id), target: '_blank' %></td>
  <td><%= get_state(hacker) %></td>
  <td><%= hacker.school %></td>
  <td><%= hacker.year %></td>
  <td>
    <% if hacker.availability.include?(0) %>
    <i class="check icon"></i>
    <% end %>
  </td>
  <td>
    <% if hacker.availability.include?(1) %>
    <i class="check icon"></i>
    <% end %>
  </td>
</tr>
