<div class="hacker-small">
  <span class="name"><%= hacker.name %></span>
  <span class="school"><%= hacker.school %></span>
  <span class="year"><%= hacker.year %></span>
  <%= link_to "View More", admin_view_user_path(hacker.id) %>
</div>
