<tr>
  <td><%= link_to hacker.name, admin_view_user_path(hacker.id), target: '_blank' %></td>
  <td><%= hacker.email %></td>
  <td>
    <%= link_to ((hacker.have_forms?) ? "UNDO RECEIVE" : "Mark as received"), admin_have_forms_path(hacker) %>
  </td>
</tr>
