<tr>
  <td><%= link_to mentor.name, admin_view_user_path(mentor.id), target: '_blank' %></td>
  <td><%= mentor.email %></td>
  <td>
    <%= link_to ((mentor.have_forms?) ? "UNDO RECEIVE" : "Mark as received"), admin_have_forms_path(mentor) %>
  </td>
</tr>
