<h1 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Hackers
</h1>

<div class="ui center aligned header">
  <%= link_to "View Mentors", admin_mentors_path, class: "ui button" %>
  <%= link_to "Log Out", admin_logout_path, method: :delete, class: "ui negative button" %>
</div>

<div class="ui centered aligned header">
  Total Records: <%= @hackers.count %>
</div>

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>High School</th>
      <th>Year</th>
      <th>Day 1?</th>
      <th>Day 2?</th>
    </tr>
  </thead>
<% for hacker in @hackers %>
  <%= render partial: 'hacker_small', locals: { hacker: hacker } %>
<% end %>
</table>
