<h1 class="ui center aligned icon header">
  <i class="circular meh icon"></i>
  Mentors
</h1>

<div class="ui center aligned header">
  <%= link_to "View Hackers", admin_hackers_path, class: "ui button" %>
  <%= link_to "Log Out", admin_logout_path, method: :delete, class: "ui negative button" %>
</div>

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Interests</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% for mentor in @mentors %>
  <%= render partial: 'mentor_small', locals: { mentor: mentor } %>
<% end %>
</table>
