<h1>View User</h1>

<% if @user.mentor? %>
<%= link_to "Mentor Listing", admin_mentors_path %><br />
<%= render partial: 'mentor', locals: { mentor: @user } %>
<% else %>
<%= link_to "Hacker Listing", admin_hackers_path %><br />
<%= render partial: 'hacker', locals: { hacker: @user } %>
<% end %>
