<% if current_hacker.status == 0%>
  <div class="ui two stackable steps">
      <div class="completed step">
          <i class="payment icon"></i>
          <div class="content">
              <div class="title">Registered</div>
          </div>
      </div>
      <div class="active step">
          <i class="write icon"></i>
          <div class="content">
              <div class="title">Apply</div>
          </div>
      </div>
  </div>
  <br>
<% else %>
  <br>
  <p>
    <a href="<%= status_path%>">
      &#8592; Back
    </a>
  </p>
<% end %>

<%= render (current_hacker.mentor? ? "mentor_apply" : "hacker_apply") %>
