<div class="title">
  Apply as Student
</div>

<p>We're excited that you want to join us at <a href="http://blueprint.hackmit.org">Blueprint</a>! Get ready for a weekend of learning and hacking with fellow high school students, at MIT!</p>

<p>Blueprint has two components: the learnathon and the hackathon. You can sign up for one or the other or both! However, we have some capacity limits: only 150 for the learnathon and 300 for the hackathon. To decide this, we will be choosing teams/individuals randomly through our lottery system. We just need a little more information from you before you can submit your application.</p>

<br>

<h3>
  Registration has closed, but thank you for your interest!
</h3>
