<div class="title">
  Status: <%= current_hacker.status %>
</div>

<%= link_to('Edit your application', apply_path, class: 'ui blue button') %>
<br>
<%= link_to('Join or View Team', team_path, class: 'ui yellow button') if current_hacker.team_available? %>
<br>
<br>
<%= link_to('Logout', destroy_hacker_session_path, :method => :delete) %>
