<div id="team">
  <br>
  <p>
    <a href="<%= status_path%>">
      &#8592; Back
    </a>
  </p>

  <h2>
      Your Team:
  </h2>

  <div class="ui bulleted list">
    <% @team_hackers.each do |hacker| %>
      <span class="item">
        <%= hacker.name %>
      </span>
    <% end %>
  </div>

</div>
