<div class="title">
    Forgot Password?
</div>

<div class="ui form">
  <%= form_for(resource, as: resource_name, url: password_reset_lookup_url, html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %></div>
    </div><br />

    <div class="field">
      <%= f.submit "Send me reset password instructions", class: 'ui fluid yellow button' %>
    </div>

  <% end %>
</div>
