<div style="">
  <%= image_tag 'email_banner.png', style: "width: 100%" %>
</div>

<h2>Hi!</h2>

<p>You are receiving this email because you have made an account for <a href="//blueprint.hackmit.org">Blueprint</a>.</p>

<p>
Please be sure to fill out the registration form and indicate if you would like to come to the learnathon and/or the hackathon. If you would like to indicate a team, be sure that you and your teammates have the same team code. Once registration closes, we will be running a lottery to pick students for Blueprint until capacity is filled.
</p>

<p>Thanks for registering!</p>

<p>Best,<br>
The Blueprint Team</p>
