//
// base.scss: Application-wide styles
//

$blueprint-blue: rgb(0,136,255);
$blueprint-yellow: #f1e820;
$font-logo: 'Rokkitt', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-body: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
$cloud: #fafeff;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
}

body {
  font-family: $font-body;
}

footer {
  position: relative;
  padding: 30px 0;
  background: darken($blueprint-blue, 10%);
  color: white;
  text-align: center;

  border-top: 8px solid $blueprint-yellow;

  .divider {
    position: relative;
    display: inline-block;
    width: 10%;
    margin: 0 auto;
  }

  .icons i {
    color: white;
    margin: 0px 8px;
  }

}
