@mixin vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

@mixin cancel-vertical-align {
  position: relative;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
@mixin shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.31);
}
