//
// Styles specific to views managed by registration controller
//

// jenny's work that I have yet to integrate in

main {
	postion: relative;
}

.signup-container {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui.form {
	background: darken(white, 5%);
	padding: 10px 10px;
	border-radius: 10px;
	font-family: $font-body;
}

#hacker_password {
	height: 50%;
	font-family: $font-body;

}

input[type = "submit"] {
	font-family: $font-body;

}

h1 {
	font-family: "Rokkitt", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 6.0 em;
	color: $blueprint-blue;
	line-height: 50%;
	text-align: center;
}

