//
// Styles specific to views managed by registration controller
//

#splash {
  @include shadow;
  position: relative;
  background:
    linear-gradient(rgba(0, 136, 255, 0.85), rgba(0, 84, 165, 0.85)),
    url(image-path('background2.jpg')) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;

  font-size: .75em;

  .content {
    @include vertical-align;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;

    .identity {
      font-family: $font-logo;
      .title {
        font-size: 5.8em;
      }

      .logo {
        height: 8em;
        width: 8em;
      }

    }

    .tagline {
      margin-top: -12px;
      font-size: 3em;
      font-family: $font-logo;
    }

    .date {
      font-size: 1.5em;
    }

    .description {
      margin-top: 16px;
      font-size: 1.3em;
    }

    .action {
      margin: 16px auto;

      input {
        display: inline-block;
        background: white;
        border: 1px solid darken($blueprint-blue, 5%);
      }

      .input {
        margin-bottom: 8px;
      }

      .button {
        display: inline-block;
        background: $blueprint-yellow !important;
        margin-left: 4px;
      }

    }
  }

}

#days {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  @include shadow;

  .icon {
    font-size: 1.5em;
    text-align: center;

    i {
      @include shadow;
      &.yellow {
        background-color: $blueprint-yellow !important;
//        color: $blueprint-blue !important;
        color: black !important;
      }

      &.blue {
        background-color: $blueprint-blue !important;
//        color: $blueprint-yellow !important;
      }
    }

  }

  .header {
    text-align: center;
    font-family: $font-logo;
    font-size: 3em;
    font-weight: bold;
    margin-top: 4px;
  }

  .subheader {
    text-align: center;
    font-family: $font-logo;
    font-size: 1.5em;
  }

  .divider {
    width: 50%;
    margin: 12px auto;
  }

}

#faq {
  position: relative;
  background: darken(white, 5%);

  padding: 48px 0;

  .header {
    @include shadow;
    font-family: $font-logo;
    background: $blueprint-blue;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 100px;
    margin: -148px auto 48px auto;
    font-size: 4.5em;
    text-align: center;
  }

  .item {
    @include shadow;
    border-left: 2px solid $blueprint-blue;
    border-right: 2px solid $blueprint-yellow;
    background: white;
    padding: 16px 12px;
    .question {
      font-family: $font-logo;
      font-size: 1.5em;
      margin-bottom: 4px;
    }

  }


}

// Feel free to change this to a different word
#video {
  position: relative;
  background: lighten($blueprint-blue, 10%);
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  .title {
    font-size: 4em;
    margin-bottom: 24px;
  }
}

// Mobile Styling
@media only screen
and (max-width : 320px) {
  #splash {
    height: auto;
    padding-bottom: 48px;
    .content {
      @include cancel-vertical-align;
      top: 36px;

      .identity {
        font-size: .8em;
      }

      .tagline {
        font-size: 1.6em;
        margin-bottom: 8px;
      }
    }
  }

}

// jenny's work that I have yet to integrate in

main {
	postion: relative;
}

.signup-container {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui.form {
	background: darken(white, 5%);
	padding: 10px 10px;
	border-radius: 10px;
	font-family: $font-body;
}

#hacker_password {
	height: 50%;
	font-family: $font-body;

}

input[type = "submit"] {
	font-family: $font-body;

}

h1 {
	font-family: "Rokkitt", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 6.0 em;
	color: $blueprint-blue;
	line-height: 50%;
	text-align: center;
}

