// Place all the styles related to the Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blueprint-blue: rgb(0,136,255);
$blueprint-yellow: #f1e820;
$font-logo: 'Rokkitt', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-body: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;

body,
html {
  font-family: $font-body;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 136, 255, 0.85), rgba(0, 84, 165, 0.85)), image-url('bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

.main-container {
  padding-top: 15%;
  padding-bottom: 15%;
  width: 33%;
  min-width: 288px;
  margin: 0 auto;

  >.main-content {
    padding: 16px 16px;
    border-radius: 2px;
    border: 1px solid darken($blueprint-blue, 5%);
    background: white;
    text-align: center;

    >.title {
      font-family: $font-logo;
      font-size: 2.5em;
      margin-bottom: 8px;
    }

    .button {
      margin-bottom: 8px;
    }

    .field {
      text-align: left;
    }
    .fields {
      text-align: left;
    }
  }
}

.logo {
  font-family: $font-logo;
  text-align: center;
  color: white;
  font-size: 4em;
  margin-bottom: 16px;
}

#team {
  h1 {
    margin-top: 4px;
  }
  h2 {
    margin-bottom: 4px;
  }
}

textarea {
  height: 100px !important;
}

@media only screen
and (max-width : 1280px) {

  .main-container {
    width: 45%;
  }

}

@media only screen
and (max-width : 768px) {

  .main-container {
    width: 75%;
  }

  .step {
    width: 100% !important;
  }
  .disabled.step, .completed.step {
    display: none !important;
  }

}
