<div style="">
  <%= image_tag 'email_banner.png', style: "width: 100%" %>
</div>

<p>Hi!</p>

<p>You are receiving this email because someone requested to reset your password for your <a href="//blueprint.hackmit.org">Blueprint</a> account.</p>

<p>Please click the link below to reset your password.</p>

<%= link_to("Reset your password",change_hacker_password_url(reset_password_token: @token)) %>

<p>Thanks,<br>
The Blueprint Team</p>
